.ide-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bg);
}

.workspace {
  display: flex;
  flex: 1;
  background: var(--bg);
}

.modal-header {
  display: flex;
  justify-content: center;
}

.modal-header h3 {
  padding: 20px;
}

.modal-body {
  display: inline;
}

.modal-body p {
  text-align: left;
  margin-left: 40px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-window {
  position: relative;
  background: var(--bg);
  border: 1px solid var(--border);
  color: var(--text);
  min-width: 400px;
  padding: 20px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;

  background: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.15s ease, color 0.15s ease;
}

.modal-close:hover {
  color: #ff453a;
}

.add-garden-form {
  display: flex;
  flex-direction: column;
}

.add-garden-form input {
  padding: 10px;
  margin: 10px;
  background-color: var(--bg);
}

.clear-btn {
    padding: 10px;
    flex-shrink: 0;
}

.clear-btn button {
    cursor: pointer;
    padding: 8px 12px;
    width: 100%;
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 6px;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 2px 4px var(--border);
}

.clear-btn button:hover{
    background-color: #cfcaba;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clear-btn button:active{
    transform: translateY(1px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.clear-btn button:focus-visible{
    outline: 2px solid;
    outline-offset: 2px;
}