# =========================
# OS / Editor Files
# =========================
.DS_Store
Thumbs.db
.vscode/
.vs/
*.user
*.suo

# =========================
# Python (/Scraper)
# =========================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
frobanken-veg-urls.txt
frobanken-raw-urls.txt

# =========================
# C# .NET (/API)
# =========================
bin/
obj/
TestResults/
appsettings.Development.json
app.db
app.db-shm
app.db-wal

# =========================
# React / Node.js (/Client)
# =========================
node_modules/
dist/
build/
.npm/
npm-debug.log*
.env.local
.env.development
